 html, body {
	width: 100%;
  	height: 100%;
    margin: 0;
    padding: 0;

}
.titlepage{
  text-align: left;
  color: black;
  text-decoration: none;

}
.datediv{
  text-align: center;
}
body {
  
  background-repeat: no-repeat ;
  background-color: #FFE4B5;
  color:black;
  text-decoration: none;
}
.column {
    float: left;

}
p,h1{
  color:black;
  text-decoration: none;
}

a{
  color:black !important; 
  text-decoration: none !important;
    
}
.leftr{
    width:20%;
    
}
.rightr {
    width: 80%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;


}
.mainbody{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  text-align: center;
}
.banner{
	display: block;

	margin-left: auto;
	margin-right: auto;
	height: 150px;
	padding-bottom: 20px;
}

.vertical-menu {
  padding-top: 10px;
  padding-left: 20%;
  width: 210px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #FFE4B0; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 5px; /* Add some padding */
    text-decoration: none;
    text-align: left; /* Remove underline from links */
    }

.vertical-menu a:hover {
    color:  #B22222;
}



header{
	margin-right: 20%;
	margin-left: 20%;
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	border-bottom-width: 50%;
	border-top-width: 50%;
   
}
nav ul {
	
	margin: 0;
  text-align: center;
 	padding-right: 20px;
 	list-style: none;
}
nav li {
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px
  padding-bottom: 15px


}
nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: 	#B22222;
}
h4{
	padding: -1px;
}

.titlepage{
  color:black !important; 
  text-decoration: none !important;
  margin-top: 21px;
  
  

}


footer {
  width: 100%;
  margin: center;
  text-align: center;
  display: inline-block;
  background-color: #FFE4B5;
}


.leftin{
    width:48%;
    padding-right: 2%;
    color:black;
    text-decoration: none;

    
}
.rightin {
    width: 48%;
    padding-left: 2%;
    color:black;
    text-decoration: none;
}

.back{
    margin-top: 10%;

}
.subtitles{
    float: center;
    text-align: center;
    margin-top: 0px;
    color: #555;

}

.leftind{
    width:68%;
    padding-right: 2%;
    color:black;
    text-decoration: none;

    
}
.rightind {
    width: 30%;
    
    color:black;
    text-decoration: none;
}
.imgs{
  width: 100%;
  max-width: 400px;
  padding-top: 10px;
}